.general-button {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    cursor: pointer;

    background-color: var(--highlight);
    border-radius: 20px;
    width: 100%;
    height: 100%;

    color: var(--primary);
}